[submodule "data/agh_2015061019_IPv4_anon"]
	path = data/agh_2015061019_IPv4_anon
	url = ../../flow-models/agh_2015061019_IPv4_anon.git
[submodule "data/agh_2015"]
	path = data/agh_2015
	url = ../../flow-models/agh_2015.git
